<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'products/error_message/flash_messages' %>

    <%= form_for(@product, :html => { :multipart => true }) do |f| %>

        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :price %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
        </div>
        <div class="form-group">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">

              <% if @product.nil? == false && @product.image.nil? == false %>
                  <%= image_tag @product.image.url() %>
              <% end %>

            </div>
          <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new">Select image</span>
            <span class="fileinput-exists">Change</span>
            <%= f.file_field :image %>
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
    </div>


        <div class="form-group checked-values">
          <%= f.label :category %>
          <%= render 'shared/multiselect_category' %>
        </div>

        <div class="form-group checked-values">
          <%= f.label :cause %>
          <%= render 'shared/multiselect_cause' %>
        </div>


        <div class='form-group'>
          <%= link_to 'Back', products_path, class: 'btn btn-default pull-left' %>
          <%= f.submit class: 'btn btn-success pull-right' %>
        </div>
    <% end %>

  </div>
</div>
